
/*==========Global CSS==========*/
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
#heading-color{
    color: #fabe4c;
}
.header-color{
    background-color: #FFFBF0;    
}
/*==========Navbar Start==========*/
.navbar-brand img{
    width: 300px;
    height: auto;
}
.navbar-icon{
    color: green;
}
.navbar{
    padding: 1% 10%;
}
.nav-link{
    color: #3C3C3C;
}
.nav-link:hover{
    color: green;
    font-weight: bolder;
 }
 .navbar-nav li a{
    font-weight: bold;
    font-size: 20px;
    float: center;
    text-align: center;
}

.card{
    border: none;
    border-radius: 5px;
    background-color: #F1F1F1;
    box-shadow: 5px 5px 10px #F1F1F1;
    height: 70%;
}

 
 /*==========Navbar End==========*/

 /*==========Home Section==========*/

 /*==========Home Section==========*/
