
/*==========Global CSS==========*/
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
/*==========Navbar Start==========*/
.navbar-brand img{
    width: 300px;
    height: auto;
}
.navbar-icon{
    color: green;
}
.navbar{
    padding: 1% 10%;
}
.nav-link{
    color: #3C3C3C;
}
.nav-link:hover{
    color: green;
    font-weight: bolder;
 }
 .navbar-nav li a{
    font-weight: bold;
    font-size: 20px;
    float: center;
    text-align: center;
}



 
 /*==========Navbar End==========*/

 /*==========Home Section==========*/

 /*==========Home Section==========*/
